.theme-dark {
  background: #121212;
}
.row {
  margin: 0;
}
.col,
.col-auto {
  padding: 0;
}
#location-selector {
  position: relative;
  padding: 20px 3px 20px 80px;
  z-index: 1;
}
#location-selector .dropdown {
  display: inline-block;
}
#location-selector .dropdown-toggle {
  font-size: 13px;
  background: #ffffff;
  color: #333333;
  border-color: #cccccc;
}
.theme-dark #location-selector .dropdown-toggle {
  background: #333;
  color: #ccc;
  border-color: #555;
}
#location-selector .dropdown-menu {
  width: 220px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 13px;
}
#view-selector {
  position: relative;
  padding: 20px 3px;
  z-index: 1;
}
#view-selector .dropdown-toggle {
  font-size: 13px;
  background: #ffffff;
  color: #333333;
  border-color: #cccccc;
}
.theme-dark #view-selector .dropdown-toggle {
  background: #333;
  color: #ccc;
  border-color: #555;
}
#view-selector .dropdown-menu {
  width: 220px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 13px;
}
#mode-selector {
  position: relative;
  padding: 20px 3px;
  z-index: 1;
}
#mode-selector .dropdown-toggle {
  font-size: 13px;
  background: #ffffff;
  color: #333333;
  border-color: #cccccc;
}
.theme-dark #mode-selector .dropdown-toggle {
  background: #333;
  color: #ccc;
  border-color: #555;
}
#mode-selector .dropdown-menu {
  width: 220px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 13px;
}
#scale-selector {
  position: relative;
  padding: 20px 120px 20px 3px;
  z-index: 1;
}
#scale-selector .dropdown-toggle {
  font-size: 13px;
  background: #ffffff;
  color: #333333;
  border-color: #cccccc;
}
.theme-dark #scale-selector .dropdown-toggle {
  background: #333;
  color: #ccc;
  border-color: #555;
}
#scale-selector .dropdown-menu {
  width: 220px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 13px;
}
#chart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}
.theme-dark #chart {
  filter: invert(1) hue-rotate(180deg);
}
#countdown-mudik {
  padding: 26px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #800;
}
.theme-dark #countdown-mudik {
  color: #f00;
}
.notice {
  position: absolute;
  top: 20px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  font-size: 13px;
  text-align: center;
  padding: 6px 12px;
  border: solid 1px #800;
  background: #fff0f0;
  border-radius: 4px;
}
