#location-selector {
  position: relative;
  padding: 20px 60px;
  z-index: 1;
}
#location-selector .dropdown {
  display: inline-block;
}
#location-selector .dropdown-toggle {
  font-size: 13px;
  background: #ffffff;
  color: #333333;
  border-color: #cccccc;
}
#location-selector .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  font-size: 13px;
}
#chart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
